.chatBubble {
	display: flex;
	justify-content: center;
	padding: 0 1rem;
	width: 90%;
	.botIcon,
	.userIcon {
		margin: auto;
		width: 90%;
		height: 3rem;
		flex: 0 0 10%;
	}
	.user,
	.bot,
	.internal {
		flex: 0 0 85%;
		color: white;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		border-radius: 10px;
		margin: 0.5rem 0;
		line-height: 1.4rem;
		padding: 0.5rem;
		max-width: 80%;
		min-height: 1rem;
	}
	.user {
		order: 1;
		padding-right: 1rem;
		color: #fff;
		margin-right: auto;
		margin-left: 0;
		background-color: #d30689;
		text-align: right;
	}
	.userIcon {
		height: 2.5rem;
		order: 2;
	}
	.bot {
		padding-left: 1rem;
		text-align: left;
		background-color: #f3f3f3;
		color: #000;
		margin-left: auto;
		margin-right: 0;
	}
	.internal {
		// margin-right: auto;
		// flex: 0 0 83%;
		animation: blinker 1s linear infinite;
		text-align: right;
		@keyframes blinker {
			50% {
				opacity: 0;
			}
		}
	}
	.typingIcon {
		height: 90%;
		margin-top: auto;
	}
}
