.container {
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.chatBoxContainer {
		height: 30rem;
		max-width: 25rem;
		display: inline-block;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 3rem 5rem;

		.title {
			text-align: center;
		}
		.historyContainer {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			overflow-y: scroll;
			.internal {
				animation: blinker 1s linear infinite;
				text-align: right;
				@keyframes blinker {
					50% {
						opacity: 0;
					}
				}
			}
			input {
				border: 0;
				height: 1.1rem;
				width: 30rem;
				outline: none;
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 1.2rem;
				margin-top: 2rem;
			}
		}
	}
}
