@import "./variables.scss";

@import "blocks/chatBox";
@import "blocks/chatBubble";
@import "blocks/typingBubble";

html {
	display: table;
	height: 100%;
	width: 100%;
}

body {
	display: table-cell;
	vertical-align: middle;
}
