@import "./variables.scss";

@import "blocks/themeBlock";
@import "blocks/chatBox";
@import "blocks/chatBubble";
@import "blocks/typingBubble";

html {
	// height: 100%;
	width: 100%;
	body {
		min-height: 30rem;
		display: grid;
		margin: 0;
		height: 100vh;
	}
}
